@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4">
        <div>
            <h3>Samples</h3>
            <menu>
                <ul>
                    <li><a href="~/Graph3D/Index">3Dグラフ</a></li>
                    <li><a href="~/ERDiagram/Index">ER図</a></li>
                </ul>
            </menu>
        </div>
    </div>
</div>
